    /*
body {
    margin: 0;
    padding: 0;
    background: #4b0082;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.form {
    width: 500px;
    border: 2px solid #fff;
    padding: 10px;
}
.header {
    display: flex;
    justify-content: space-between;
}
.header input {
    width: 88%;
    height: 30px;
    font-size: 18px;

}
.header button {
    width: 20%;
}
.todoBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.actions button {
    width: 150px;
    height: 30px;
    font-size: 18px;
    border: 2px solid #fff;
    text-align: center;
}
.todoBlock p {
    color: #ffffff;
    font-size: 18px;
}
.change {
    background: darkgoldenrod;
    color: #ffffff;
}
*/



#header{
	height:120px;
	position:relative
	padding:5px;
}
#content{
	background:#fff000;
	padding:5px;
}
p {
    padding: 5px;
}	
 .txt {
    font: 65px Verdana bold;
    position: relative;
    top: 16px;
    color: #fff;
    left: 80px;
   }
img{
     margin:5px;
}